@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";

body {
  font-family: "Synonym", sans-serif;
  padding-inline: 1em;
}

h1 {
  font-family: "Amulya", sans-serif;
}

/* Search */
select,
input,
button {
  font-size: 1rem;
}

button {
  height: 2em;
}

label {
  font-weight: bold;
}

.search form {
  display: flex;
  align-items: flex-end;
  gap: 1em;
  margin-bottom: 2em;
}

.input-control,
.button-control {
  display: none;
}

.control-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.flex {
  display: flex;
}

/* Table display */
#graph {
  max-height: 80vh;
  overflow: scroll;
}

table {
  position: relative;
  width: 100%;
  /* border: 1px solid rgb(153, 9, 9); */
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
}

th,
td {
  padding: 1em;
}

th {
  background-color: rgb(255, 221, 221);
  text-align: start;
}

tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}
